In [2]:
#Imports necesarios
import mysql.connector

#Parametros para la conexión
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="AGOSTO27",
)
print(dataBase)
  
# Disconnecting from the server
# dataBase.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f0b806f12a0>

In [3]:
# Se conecta a la base de datos con el cursor
cursorO = dataBase.cursor()

In [6]:
#Se crea una base de datos llamada prrueba
cursorO.execute("CREATE DATABASE PRUEBA")
cursorO.execute("USE  PRUEBA")

In [7]:
# Se crea una tabla en la base de datos EMPLEADO
# Ejecutar una sola vez
tablapruebas = """CREATE TABLE EMPLEADO (
cedula VARCHAR(10) NOT NULL,
sueldo VARCHAR(10) NOT NULL,
nombres VARCHAR(50) NOT NULL,
apellidos VARCHAR(50) NOT NULL,
fecha_nacimiento DATE NOT NULL, 
PRIMARY KEY(cedula)
)"""

cursorO.execute(tablapruebas)

In [8]:
# Creamos un insert 
# Ejecutar una sola vez
paraInsertar = """INSERT INTO EMPLEADO (cedula, sueldo, nombres, apellidos, fecha_nacimiento)\
VALUES (%s, %s,%s, %s, %s)"""

In [9]:
# Probamos insertar una fila en la tabla EMPLEADO
valor = ("1103689761","4000", "Víctor", "Carrión","2002-08-27")

cursorO.execute(paraInsertar, valor)
dataBase.commit()

In [11]:
# Probamos insertar varias filas a la vez en la base de datos
datosEmpleados = [
    ("1105667271","45654", "María", "Pineda", "2002-05-27"),
    ("1607892657","34534", "Julio", "Luna", "2002-09-05"),
    ("1101788961","3244", "Kevin", "Cabrera", "2003-07-06"),
    ("1107128839", "3333","Ana", "Aguirre", "2002-04-07")

]

cursorO.executemany(paraInsertar, datosEmpleados )
dataBase.commit()

In [13]:
# Actualizamos un campo en la tabla Empleados 
actualizar = "UPDATE EMPLEADO SET sueldo = '4000' WHERE cedula = '1103689761'"

cursorO.execute(actualizar)
dataBase.commit()

In [15]:
# Añadimos un campo adicional a la tabla Empleado
addCampo = "ALTER TABLE EMPLEADO ADD email VARCHAR(15) DEFAULT NULL"

cursorO.execute(addCampo)
dataBase.commit()

In [17]:
# Actualizamos un campo en todas las filas de una tabla 
actualizartodos = "UPDATE EMPLEADO SET sueldo = '45645'"

cursorO.execute(actualizartodos)
dataBase.commit()

In [19]:
# Consulta de una tabla

consultaTodo = "SELECT * FROM PRUEBA.EMPLEADO"

cursorO.execute(consultaTodo)

resultadoUno = cursorO.fetchall()

for x in resultadoUno:
    print(x)

('1101788961', '45645', 'Kevin', 'Cabrera', datetime.date(2003, 7, 6), None)
('1103689761', '45645', 'Víctor', 'Carrión', datetime.date(2002, 8, 27), None)
('1105667271', '45645', 'María', 'Pineda', datetime.date(2002, 5, 27), None)
('1107128839', '45645', 'Ana', 'Aguirre', datetime.date(2002, 4, 7), None)
('1607892657', '45645', 'Julio', 'Luna', datetime.date(2002, 9, 5), None)

In [22]:
# Consulta selectiva de una tabla
consultaSelectiva = """SELECT * FROM PRUEBA.EMPLEADO
WHERE (nombres = 'Víctor')"""

cursorO.execute(consultaSelectiva)

resultadoDos = cursorO.fetchall()

for x in resultadoDos:
    print(x)

('1103689761', '45645', 'Víctor', 'Carrión', datetime.date(2002, 8, 27), None)

In [23]:
dataBase.close()